<div>
    <form [formGroup]="registerForm">
        <label for="fname">First Name</label>
      
        <input type="text" id="fname" formControlName="firstname" placeholder="Enter Your firstname">
      <label for="fname">Last Name</label>
      
      <input type="text" id="fname" formControlName="lastname" placeholder="Enter Your lastname">
    
      <label for="lname">Address</label>
      
      <input type="text" id="lname" formControlName="address" placeholder="Enter Your address">
      <label for="fname">Email</label>
      
      <input type="text" id="fname" formControlName="email" placeholder="Enter Your email">
    
      <label for="lname">Password</label>
      
      <input type="password" id="lname" formControlName="password" placeholder="Enter Your password">
      <input type="submit" value="Login">
      <br>
      <small>Already have Account? <a routerLink="/user/login">Login</a></small>
    </form>
  </div>