<div class="navbar" *ngIf="url; else next">
    <h1>hElloWorld</h1>
    
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="admin/login">Admin</a></li>
        <li><a routerLink="/user/register">User</a></li>
        </ul>
</div>
<ng-template #next>
  <div class="navbar">
    <h1>hElloWorld</h1>
    
      <ul>
        <li><a routerLink="/">Manage User</a></li>
        <li><a routerLink="/admin/createpost">create Post</a></li>
        <li role="button" (click)="onLogout()">Logout</li>
        
        </ul>
</div>
</ng-template>
<router-outlet></router-outlet>